<header>
    <section><!-- Inicio seccion navbar --> 
        <nav class="navbar navbar-expand-lg bg-lingk fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="../assest/index.html">
                    <img [src]="miPorfolio.logoap" alt="Logo Argentina Programa" class="w-110 letranegra">
                </a>
                    <ul class="list-group list-group-horizontal">
                        <li class="list-group-item"><a href="#" target="_blank"></a><i class="fa-brands fa-github-alt fa-2xl"></i></li>
                        <li class="list-group-item"><a href="#" target="_blank"></a><i class="fa-brands fa-facebook fa-2xl"></i></li>
                        <li class="list-group-item"><a href="#" target="_blank"></a><i class="fa-brands fa-linkedin fa-2xl"></i></li>
                        
                        <li class="list-group-item">

                            <i class="fa-solid fa-user-lock fa-2xl" type="button" 
                            data-bs-toggle="modal" data-bs-target="./login"></i>

                            <i class="fa-solid fa-user fa-2xl" type="button" 
                            data-bs-toggle="modal" data-bs-target="#accesoUsuario"></i>

                        </li>
                        
                        <div class="btn-edit"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                            data-bs-toggle="modal" data-bs-target="#modificar"></i></a></div>
                    </ul>
            </div>
       </nav>
    </section><!-- Fin seccion navbar -->
</header>
