<section><!--Sección Banner Inicio-->

    <div class="container-fluid text-center">
        
        <div class="row ">

          <div class="col-xs-12 col-md-6 col-lg-12">
            
            <img [src]="miPorfolio.bannerimg" alt="Imagen banner" class="banner">
            
            <a href="#" class="btn-ringt btn-edit text-center"><i class="fa fa-pen" type="button" 
                  data-bs-toggle="modal" data-bs-target="#fotoban"></i></a>
            
                </div>
         </div>
        </div>

</section><!--Sección Banner Final-->
