<section><!--Inicio de Seccion Experiencia Laboral-->

    <div class="container-flui text-center"><!--Inicio Contenedor Experiencia Laboral-->
      
        <div class="row p-3"><!--Inicio titulo Experiencia Laboral-->
          <div class="col-xs-12 col-md-6 col-lg-11">
                               
              <h1 class="titulo1">{{miPorfolio.tituexpe}}</h1>
                            
          </div>
    
          <div class="col-xs-12 col-md-6 col-lg-1">
                               
              <ul class="list-group list-group-horizontal">
    
                <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#tituexplabo"></i></a></div>
    
                <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
               
              </ul>
                            
          </div>
        </div><!--fin titulo Experiencia Laboral-->
          
        <div class="row p-3" *ngFor="let trabajo of experienciaList"><!--Inicio Primera Experiencia Laboral-->
          <div class="col-xs-12 col-md-6 col-lg-3"><!--Inicio primera columna Primera Eperiencia Laboral-->
                                 
            <div class="row"><!--Inicio Logo Primera Experiencia Laboral-->
              <div class="col-xs-12 col-md-6 col-lg-8">
                 
                <img class="logo1exp" [src]="trabajo.logoempre" alt="Logo computadoras">
    
              </div>
      
              <div class="col-xs-12 col-md-6 col-lg-4">
      
                  <ul class="list-group list-group-horizontal uticla">
      
                    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                        data-bs-toggle="modal" data-bs-target="#expla1logo"></i></a></div>
      
                    <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
                 
                  </ul>
      
              </div>
      
            </div><!--Fin logo Primera Experiencia Laboral-->
                      
          </div><!--Fin primera columna Primer Estudio-->
    
          <div class="col-xs-12 col-md-6 col-lg-8"><!--Inicio Segunda columna Primer Estudio-->
                                 
            <h4 class="institu"><i><strong>{{trabajo.emprenom}}</strong></i></h4>
            <h5 class="bajo">{{trabajo.puestoempre}}</h5>
            <h6 class="bajo">{{trabajo.ciuempre}}</h6>
                              
          </div><!--Fin Segunda columna Primera Experiencia Laboral-->
             
          <div class="col-xs-12 col-md-6 col-lg-1"><!--Inicio Tercera columna Experiencia Laboral-->
    
            <ul class="list-group list-group-horizontal uticla">
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa fa-pen" type="button" 
                data-bs-toggle="modal" data-bs-target="#infoexpla1"></i></a></div>
    
              <div class="btn-edit m-3"><a href="#" class="btn-ringt"><i class="fa-solid fa-x"></i></a></div>
             
            </ul>
    
          </div><!--Fin Tercera columna Primera Experiencia Laboral-->
    
        </div><!--Fin Primera Experiencia Laboral-->
              
    </div><!--Fin Contenedor Experiencia Laboral-->
    
    </section><!--Fin Sección Experiencia Laboral-->