.image{
    width: 7rem;
    height: 5rem;
    }

    .institu{
        font-size: 2rem;
        margin: 2rem;
        color: rgb(109, 9, 223);
    }
    
    .bajo{
        color: rgb(110, 24, 21);
    }